<div id="<%= dom_id(collection) %>" class="column is-12-tablet is-6-desktop is-4-widescreen">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= collection.title %>
      </p>

      <p class="tag mx-1 my-3 is-link is-light">
        <%= collection.language %>
      </p>

      <% if collection.public? %>
        <p class="tag mx-1 my-3 is-dark">
          Public
        </p>
      <% elsif collection.private? %>
        <p class="tag mx-1 my-3 is-warning">
          Private
        </p>
      <% end %>

      <div class="dropdown is-hoverable is-right">
        <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="bi bi-caret-down-fill"></i>
          </span>
        </button>
      
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <% if policy(collection).list_cards? %>
              <%= link_to collection_cards_path(collection), class: 'dropdown-item' do %>
                <span class="icon is-small">
                  <i class="bi bi-files"></i>
                </span>
                <span>Cartas</span>
              <% end %>
            <% end %>

            <% if policy(collection).update? %>
              <%= link_to edit_collection_path(collection), data: { turbo_frame: "modal" }, class: 'dropdown-item' do %>
                <span class="icon is-small">
                  <i class="bi bi-pencil-square"></i>
                </span>
                <span>Editar</span>
              <% end %>
            <% end %>

            <% if policy(collection).destroy? %>
              <%= link_to collection_path(collection), data: { turbo_method: :delete }, class: 'dropdown-item' do %>
                <span class="icon is-small">
                  <i class="bi bi-trash2"></i>
                </span>
                <span>Remover</span>
              <% end %>
            <% end %>

            <% if collection.favorited(current_user) %>
              <%= link_to collection_favorite_path(collection, collection.favorited(current_user)), data: { turbo_method: :delete }, class: 'dropdown-item' do %>
                <span class="icon is-small">
                  <i class="bi bi-star"></i>
                </span>
                <span>Desfavoritar</span>
              <% end %>

            <% else %>
              
              <%= link_to collection_favorites_path(collection), data: { turbo_method: :post }, class: 'dropdown-item' do %>
                <span class="icon is-small">
                  <i class="bi bi-star-fill"></i>
                </span>
                <span>Favoritar</span>
              <% end %>
            <% end %>

            <% if policy(collection).start_execution?  %>
              <% if collection.execution %>
                <%= link_to collection.execution, data: { turbo_frame: "modal"}, class: 'dropdown-item' do %>
                  <span class="icon is-small">
                    <i class="bi bi-arrow-repeat"></i>
                  </span>
                  <span>Continuar</span>
                <% end %>
                
              <% else %>

                <%= link_to new_collection_execution_path(collection), data: { turbo_frame: "modal" }, class: 'dropdown-item' do %>
                  <span class="icon is-small">
                    <i class="bi bi-arrow-repeat"></i>
                  </span>
                  <span>Estudar</span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        <%= collection.description %>
      </div>
    </div>
  </div>
</div>