<%= form_with(model: collection) do |form| %>
  <%= render 'shared/form_errors', resource: collection  %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div class="field">
    <%= link_to 'Cancelar', collections_path, class: 'button is-link' %>
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
