<%= form_with(model: collection) do |form| %>
  
  <% if collection.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <h2><%= pluralize(collection.errors.count, "erro") %> proibindo esta coleção ser salva!</h2>
      </div>
      <div class="message-body">
        <ul>
          <% collection.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
