<%= form_with(model: collection, id: "collections_form", data: { turbo_frame: "_top"}) do |form| %>
  <%= render 'shared/form_errors', resource: collection  %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div class="select">
    <%= form.select(:privacy, options_for_select(Privacy.to_a, collection.privacy)) %>
  </div>

  <div class="select">
    <%= form.select(:language, options_for_select(Language.to_a, collection.language)) %>
  </div>

  <div class="field is-flex is-justify-content-end">
    <%= link_to 'Cancelar', :back, class: 'button is-light mx-2' %>
    <%= form.submit class: 'button is-success' %>
  </div>
<% end %>
