<%= content_for :page_title do %>
  Coleções
<% end %>

<%= content_for :page_actions do %>
  <%= link_to new_collection_path, data: { turbo_frame: "modal" }, class: 'button is-link' do %>
    <span class="icon">
      <i class="bi bi-plus-square"></i>
    </span>
    <span>Nova Coleção</span>
  <% end %>
<% end %>

<% unless @collections.empty? %>
  <div class="columns is-multiline">
    <% @collections.each do |collection| %>
      <div id="<%= dom_id(collection) %>" class="column is-12-tablet is-6-desktop is-4-widescreen">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <%= collection.title %>
            </p>

            <% if collection.public? %>
              <p class="tag my-3 is-info is-light">
                Public
              </p>
            <% elsif collection.private? %>
              <p class="tag my-3 is-dark">
                Private
              </p>
            <% end %>

            <div class="dropdown is-hoverable is-right">
              <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="bi bi-caret-down-fill"></i>
                </span>
              </button>
            
              <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <%= link_to collection_cards_path(collection), class: 'dropdown-item' do %>
                    <span class="icon is-small">
                      <i class="bi bi-files"></i>
                    </span>
                    <span>Cartas</span>
                  <% end %>

                  <%= link_to edit_collection_path(collection), data: { turbo_frame: "modal" }, class: 'dropdown-item' do %>
                    <span class="icon is-small">
                      <i class="bi bi-pencil-square"></i>
                    </span>
                    <span>Editar</span>
                  <% end %>

                  <%= link_to collection_path(collection), data: { turbo_method: :delete }, class: 'dropdown-item' do %>
                    <span class="icon is-small">
                      <i class="bi bi-trash2"></i>
                    </span>
                    <span>Remover</span>
                  <% end %>
                  
                  <% if collection.can_execute?  %>
                    <% if collection.execution %>
                      <%= link_to collection.execution, data: { turbo_frame: "modal"}, class: 'dropdown-item' do %>
                        <span class="icon is-small">
                          <i class="bi bi-arrow-repeat"></i>
                        </span>
                        <span>Continuar</span>
                      <% end %>
                      
                    <% else %>

                      <%= link_to new_collection_execution_path(collection), data: { turbo_frame: "modal" }, class: 'dropdown-item' do %>
                        <span class="icon is-small">
                          <i class="bi bi-arrow-repeat"></i>
                        </span>
                        <span>Estudar</span>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <%= collection.description %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="is-flex is-justify-content-center">
    <%== pagy_bulma_nav(@pagy) %>
  </div>
<% else %>
  <%= render 'shared/not_found' %>
<% end %>

<%= turbo_frame_tag "modal" %>