<div class="level">
  <div class="level-left">
    <div class="level-item">
        <h2 class="subtitle is-2">Coleções</h2>
    </div>
  </div>

  <div class="level-right">
    <p class="level-item">
        <%= link_to 'Nova coleção', new_collection_path, class: 'button is-primary' %>
    </p>
  </div>
</div>

<hr />

<div class="columns is-multiline">
    <% @collections.each do |collection| %>
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title"><%= collection.title %></p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <%= collection.description %>
                    </div>
                </div>
                <footer class="card-footer">
                    <%= link_to 'Cartas', collection_cards_path(collection), class: 'card-footer-item' %>
                    <%= link_to 'Editar', edit_collection_path(collection), class: 'card-footer-item' %>
                    <%= link_to 'Remover', collection_path(collection), data: { turbo_method: :delete }, class: 'card-footer-item' %>
                </footer>
            </div>
        </div>
    <% end %>
</div>

<% if @collections.empty? %>
    <%= render 'shared/resource_not_found' %>
<% end %>
