<%= content_for :page_title do %>
  Coleções
<% end %>

<%= content_for :page_actions do %>
  <%= link_to new_collection_path, data: { turbo_frame: "modal" }, class: 'button is-link' do %>
    <span class="icon">
      <i class="bi bi-plus-square"></i>
    </span>
    <span>Nova Coleção</span>
  <% end %>
<% end %>

<%= content_for :page_filter do %>
  <%= search_form_for @query, url: @ransack_path do |f| %>
    <div class="field is-flex mb-4">
      <%= f.search_field :title_cont, class: 'input' %>
      <%= f.submit class: 'ml-3 button is-link is-outlined' %>
    </div>
  <% end %>
<% end %>

<% unless @collections.empty? %>
  <div class="columns is-multiline">
    <% @collections.each do |collection| %>
      <%= render 'collection', collection: collection %>
    <% end %>
  </div>
  
  <div class="is-flex is-justify-content-center">
    <%== pagy_bulma_nav(@pagy) %>
  </div>
<% else %>
  <%= render 'shared/not_found' %>
<% end %>

<%= turbo_frame_tag "modal" %>