<%= form_with(model: [collection, card]) do |f| %>
  <%= render 'shared/form_errors', resource: card  %>

    <div class="field">
        <%= f.label :question, class: 'label' %>
        <%= f.text_area :question, rows: 1, class: 'textarea' %>
    </div>

    <div class="field">
        <%= f.label :awser, class: 'label' %>
        <%= f.text_area :awser, class: 'textarea' %>
    </div>

    <div class="field">
        <%= link_to 'Cancelar', collection_cards_path(collection), class: 'button is-link' %>
        <%= f.submit class: 'button is-primary' %>
    </div>
<% end %>