<%= content_for :page_title do %>
  Cartas - <%= @collection.title %>
<% end %>

<% if policy(@collection).create_card? %>
  <%= content_for :page_actions do %>
    <%= link_to new_collection_card_path(@collection), data: { turbo_frame: "modal" }, class: 'button is-dark' do %>
      <span class="icon">
        <i class="bi bi-plus-square"></i>
      </span>
      <span>Nova Carta</span>
    <% end %>
  <% end %>
<% end %>

<% unless @cards.empty? %>
  <table class="table is-fullwidth is-hoverable is-bordered">
    <thead>
      <tr>
        <th>Questão</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @cards.each do |card| %>
        <tr id="<%= dom_id(card) %>">
          <td><%= card.question %></td>
          <td>
            <% if policy(card).actions? %>
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                    <span>Ação</span>
                    <span class="icon is-small">
                      <i class="bi bi-caret-down-fill"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                  <div class="dropdown-content">
                    <% if policy(card).update? %>
                      <%= link_to edit_collection_card_path(@collection, card), data: { turbo_frame: "modal" }, class: 'dropdown-item' do %>
                        <span class="icon is-small">
                          <i class="bi bi-pencil-square"></i>
                        </span>
                        <span>Editar</span>
                      <% end %>
                    <% end %>

                    <% if policy(card).destroy? %>
                      <%= link_to collection_card_path(@collection, card), data: { turbo_method: :delete }, class: 'dropdown-item' do %>
                        <span class="icon is-small">
                          <i class="bi bi-trash2"></i>
                        </span>
                        <span>Remover</span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% else %>
              <i>Sem Ações</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr />

  <div class="is-flex is-justify-content-center">
    <%== pagy_bulma_nav(@pagy) %>
  </div>
<% else %>
  <%= render 'shared/not_found' %>
<% end %>

<%= turbo_frame_tag "modal" %>