<nav class="navbar has-shadow" data-controller="navbar">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'Cards App', root_path, class: 'title is-2 navbar-item' %>
    
      <a class="navbar-burger" data-navbar-target="navburger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" data-navbar-target="navmenu">
      <div class="navbar-end">
        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">
              Minha Conta
            </span>
            <div class="navbar-dropdown is-boxed">
              <%= link_to edit_user_registration_path, class: 'navbar-item' do %>
                Configurar conta
              <% end %>
              
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'navbar-item' do %>
                Sair
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path, class: 'navbar-item' %>
          <%= link_to 'Criar conta', new_user_registration_path, class: 'navbar-item' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>